.ingredients-list h3:after, .ingredients-list h3:before {
  background-color:#8dc6d5;
  color:rgb(255,255,255);
  text-align:center;
  font-size:16px;
  line-height:30px;
  width:30px;
  height:30px;
  display:block;
  position:absolute;
  border-radius:100%;
  z-index:2;
}

.spinach h3:before {
  content:"";
  width:280px;
  height:1px;
  right:-120px;
  top:75px;
}

.mangosteen h3:before {
  content:"";
  width:230px;
  height:1px;
  right:-120px;
  top:90px;
}

.pomegranate h3:before {
  content:"";
  width:200px;
  height:1px;
  right:-120px;
  top:88px;
}

.gensing h3:before {
  content:"";
  width:200px;
  height:1px;
  right:-120px;
  top:122px;
}

.annatto-oil h3:before {
  content:"";
  width:240px;
  height:1px;
  right:-110px;
  top:22px;
}

.noni-fruit h3:before {
  content:"";
  width:210px;
  height:1px;
  right:-60px;
  top:82px;
}

.blueberries h3:before {
  content:"";
  width:160px;
  height:1px;
  left:-158px;
  top:88px;
}

.ashwagandha h3:before {
  content:"";
  width:160px;
  height:1px;
  left:-170px;
  top:32px;
}

.wolfberry h3:before {
  content:"";
  width:160px;
  height:1px;
  left:-170px;
  top:90px;
}

.kale h3:before {
  content:"";
  width:110px;
  height:1px;
  left:-120px;
  top:80px;
}

.coconut h3:before {
  content:"";
  width:110px;
  height:1px;
  left:-120px;
  top:80px;
}

.salmon h3:before {
  content:"";
  width:110px;
  height:1px;
  left:-120px;
  top:40px;
}

.spinach h3:after {
  content:"4";
  width:30px;
  height:30px;
  right:-120px;
  margin-top:-30px;
}

.pomegranate h3:after {
  content:"2";
  width:30px;
  height:30px;
  right:-120px;
  margin-top:-30px;
}

.mangosteen h3:after {
  content:"6";
  width:30px;
  height:30px;
  right:-120px;
  margin-top:-30px;
}

.gensing h3:after {
  content:"8";
  width:30px;
  height:30px;
  right:-120px;
  margin-top:-30px;
}

.annatto-oil h3:after {
  content:"10";
  width:30px;
  height:30px;
  right:-120px;
  margin-top:-30px;
}

.noni-fruit h3:after {
  content:"12";
  width:30px;
  height:30px;
  right:-70px;
  margin-top:-30px;
}

.blueberries h3:after {
  content:"1";
  width:30px;
  height:30px;
  left:-170px;
  margin-top:-50px;
}

.ashwagandha h3:after {
  content:"3";
  left:-170px;
  margin-top:-30px;
}

.wolfberry h3:after {
  content:"5";
  left:-170px;
  margin-top:-30px;
}

.kale h3:after {
  content:"7";
  left:-140px;
  margin-top:-25px;
}

.salmon h3:after {
  content:"9";
  left:-140px;
  margin-top:-40px;
}

.coconut h3:after {
  content:"11";
  left:-140px;
  margin-top:-30px;
}

@media (max-width: 1024px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 768px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 576px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 480px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 480px) {
  .d-flex.ingredients-list > div {
    width:100%;
    min-width:100%;
    max-width:100%;
    float:none;
    display:block !important;
    margin:0px !important;
  }
}

@media (max-width: 480px) {
  .d-flex.ingredients-list {
    display:block !important;
  }
}

@media (max-width: 480px) {
  .d-flex.ingredients-list h3:after, .d-flex.ingredients-list h3:before {
    display:none;
  }
}

.ingredients-list * {
  transition:all 300ms ease-in-out;
  -webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
}

.ingredients-list:hover {
  background:rgba(255,255,255, .75);
  z-index:29;
}

.ingredients-list:hover h3:before, .ingredients-list:hover h3:after {
  background:#784566;
}

.ingredients-list:hover h3 {
  color:#784566;
}

