@media (max-width: 1024px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 1024px) {
  .blueberries h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-158px;
    top:100px;
  }
}

@media (max-width: 1024px) {
  .blueberries h3:after {
    content:"1";
    width:30px;
    height:30px;
    left:-170px;
    margin-top:-35px;
  }
}

@media (max-width: 1024px) {
  .pomegranate h3:before {
    content:"";
    width:400px;
    height:1px;
    right:-120px;
    top:102px;
  }
}

@media (max-width: 1024px) {
  .pomegranate h3:after {
    content:"2";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .ashwagandha h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-170px;
    top:50px;
  }
}

@media (max-width: 1024px) {
  .ashwagandha h3:after {
    content:"3";
    left:-170px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .spinach h3:before {
    content:"";
    width:480px;
    height:1px;
    right:-120px;
    top:102px;
  }
}

@media (max-width: 1024px) {
  .spinach h3:after {
    content:"4";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .wolfberry h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-170px;
    top:105px;
  }
}

@media (max-width: 1024px) {
  .wolfberry h3:after {
    content:"5";
    left:-170px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .mangosteen h3:before {
    content:"";
    width:430px;
    height:1px;
    right:-120px;
    top:90px;
  }
}

@media (max-width: 1024px) {
  .mangosteen h3:after {
    content:"6";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .kale h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:95px;
  }
}

@media (max-width: 1024px) {
  .kale h3:after {
    content:"7";
    left:-140px;
    margin-top:-25px;
  }
}

@media (max-width: 1024px) {
  .gensing h3:before {
    content:"";
    width:400px;
    height:1px;
    right:-120px;
    top:145px;
  }
}

@media (max-width: 1024px) {
  .gensing h3:after {
    content:"8";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .annatto-oil h3:before {
    content:"";
    width:440px;
    height:1px;
    right:-110px;
    top:52px;
  }
}

@media (max-width: 1024px) {
  .annatto-oil h3:after {
    content:"10";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .coconut h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:95px;
  }
}

@media (max-width: 1024px) {
  .coconut h3:after {
    content:"11";
    left:-140px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .noni-fruit h3:before {
    content:"";
    width:410px;
    height:1px;
    right:-60px;
    top:98px;
  }
}

@media (max-width: 1024px) {
  .noni-fruit h3:after {
    content:"12";
    width:30px;
    height:30px;
    right:-70px;
    margin-top:-30px;
  }
}

@media (max-width: 1024px) {
  .salmon h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:50px;
  }
}

@media (max-width: 1024px) {
  .salmon h3:after {
    content:"9";
    left:-140px;
    margin-top:-40px;
  }
}

@media (max-width: 768px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 768px) {
  .blueberries h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-158px;
    top:45px;
  }
}

@media (max-width: 768px) {
  .blueberries h3:after {
    content:"1";
    width:30px;
    height:30px;
    left:-170px;
    margin-top:-35px;
  }
}

@media (max-width: 768px) {
  .pomegranate h3:before {
    content:"";
    width:280px;
    height:1px;
    right:-110px;
    top:50px;
  }
}

@media (max-width: 768px) {
  .pomegranate h3:after {
    content:"2";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .ashwagandha h3:before {
    content:"";
    width:130px;
    height:1px;
    left:-150px;
    top:20px;
  }
}

@media (max-width: 768px) {
  .ashwagandha h3:after {
    content:"3";
    left:-170px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .spinach h3:before {
    content:"";
    width:350px;
    height:1px;
    right:-120px;
    top:50px;
  }
}

@media (max-width: 768px) {
  .spinach h3:after {
    content:"4";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .wolfberry h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-170px;
    top:50px;
  }
}

@media (max-width: 768px) {
  .wolfberry h3:after {
    content:"5";
    left:-170px;
    margin-top:-35px;
  }
}

@media (max-width: 768px) {
  .mangosteen h3:before {
    content:"";
    width:290px;
    height:1px;
    right:-120px;
    top:55px;
  }
}

@media (max-width: 768px) {
  .mangosteen h3:after {
    content:"6";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .kale h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:40px;
  }
}

@media (max-width: 768px) {
  .kale h3:after {
    content:"7";
    left:-140px;
    margin-top:-32px;
  }
}

@media (max-width: 768px) {
  .gensing h3:before {
    content:"";
    width:270px;
    height:1px;
    right:-120px;
    top:80px;
  }
}

@media (max-width: 768px) {
  .gensing h3:after {
    content:"8";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .salmon h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:30px;
  }
}

@media (max-width: 768px) {
  .salmon h3:after {
    content:"9";
    left:-140px;
    margin-top:-55px;
  }
}

@media (max-width: 768px) {
  .annatto-oil h3:before {
    content:"";
    width:300px;
    height:1px;
    right:-110px;
    top:20px;
  }
}

@media (max-width: 768px) {
  .annatto-oil h3:after {
    content:"10";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .coconut h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:40px;
  }
}

@media (max-width: 768px) {
  .coconut h3:after {
    content:"11";
    left:-140px;
    margin-top:-30px;
  }
}

@media (max-width: 768px) {
  .noni-fruit h3:before {
    content:"";
    width:280px;
    height:1px;
    right:-60px;
    top:45px;
  }
}

@media (max-width: 768px) {
  .noni-fruit h3:after {
    content:"12";
    width:30px;
    height:30px;
    right:-70px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .d-flex.ingredients-list {
    margin-top:0px !important;
  }
}

@media (max-width: 812px) {
  .blueberries h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-158px;
    top:45px;
  }
}

@media (max-width: 812px) {
  .blueberries h3:after {
    content:"1";
    width:30px;
    height:30px;
    left:-170px;
    margin-top:-35px;
  }
}

@media (max-width: 812px) {
  .pomegranate h3:before {
    content:"";
    width:280px;
    height:1px;
    right:-110px;
    top:50px;
  }
}

@media (max-width: 812px) {
  .pomegranate h3:after {
    content:"2";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .ashwagandha h3:before {
    content:"";
    width:130px;
    height:1px;
    left:-150px;
    top:20px;
  }
}

@media (max-width: 812px) {
  .ashwagandha h3:after {
    content:"3";
    left:-170px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .spinach h3:before {
    content:"";
    width:350px;
    height:1px;
    right:-120px;
    top:50px;
  }
}

@media (max-width: 812px) {
  .spinach h3:after {
    content:"4";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .wolfberry h3:before {
    content:"";
    width:160px;
    height:1px;
    left:-170px;
    top:50px;
  }
}

@media (max-width: 812px) {
  .wolfberry h3:after {
    content:"5";
    left:-170px;
    margin-top:-35px;
  }
}

@media (max-width: 812px) {
  .mangosteen h3:before {
    content:"";
    width:290px;
    height:1px;
    right:-120px;
    top:55px;
  }
}

@media (max-width: 812px) {
  .mangosteen h3:after {
    content:"6";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .kale h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:40px;
  }
}

@media (max-width: 812px) {
  .kale h3:after {
    content:"7";
    left:-140px;
    margin-top:-32px;
  }
}

@media (max-width: 812px) {
  .gensing h3:before {
    content:"";
    width:270px;
    height:1px;
    right:-120px;
    top:80px;
  }
}

@media (max-width: 812px) {
  .gensing h3:after {
    content:"8";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .salmon h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:30px;
  }
}

@media (max-width: 812px) {
  .salmon h3:after {
    content:"9";
    left:-140px;
    margin-top:-55px;
  }
}

@media (max-width: 812px) {
  .annatto-oil h3:before {
    content:"";
    width:300px;
    height:1px;
    right:-110px;
    top:20px;
  }
}

@media (max-width: 812px) {
  .annatto-oil h3:after {
    content:"10";
    width:30px;
    height:30px;
    right:-120px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .coconut h3:before {
    content:"";
    width:110px;
    height:1px;
    left:-120px;
    top:40px;
  }
}

@media (max-width: 812px) {
  .coconut h3:after {
    content:"11";
    left:-140px;
    margin-top:-30px;
  }
}

@media (max-width: 812px) {
  .noni-fruit h3:before {
    content:"";
    width:280px;
    height:1px;
    right:-60px;
    top:45px;
  }
}

@media (max-width: 812px) {
  .noni-fruit h3:after {
    content:"12";
    width:30px;
    height:30px;
    right:-70px;
    margin-top:-30px;
  }
}

